<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GeoChatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GeoChatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- This section contains the log4net configuration settings -->
	
    <userSettings>
        <Properties.Settings>
            <setting name="oauthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="botname_rhino" serializeAs="String">
                <value />
            </setting>
            <setting name="channel_rhino" serializeAs="String">
                <value />
            </setting>
            <setting name="oauthToken_rhino" serializeAs="String">
                <value />
            </setting>
            <setting name="allowMultipleGuesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendJoinMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendGameStartMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendRoundStartMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendRoundEndMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendGameEndedMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendConfirmGuessMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LabelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundWinnerLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundSecondLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundThirdLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundHighscoreLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameWinnerLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameSecondLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameThirdLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameHighscoreLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialDistanceLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecialDistanceFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayShowIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowPlayername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowStreak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowPlonked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowDistance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowScore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialDistanceAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialDistanceActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamerBotIP" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamerBotPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialScoreActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialDistanceActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayRoundingDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayDisplayCorrectLocations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayUseWrongRegionColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayRegionalFlags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StreamerBotConnectAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundTimerAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundTimerActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundTimerActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsConnectAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundTimerExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundTimerScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundTimerSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObsRoundTimerAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialDistanceExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsSpecialDistanceScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialDistanceSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObsSpecialDistanceAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialScoreExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsSpecialScoreScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialScoreSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObsSpecialScoreAction" serializeAs="String">
                <value />
            </setting>
            <setting name="LastAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="autoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObsRoundStartSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoundStartAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundStartActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundStartActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundEndAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundEndActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundEndActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="GameEndAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameEndActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="GameEndActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundStartExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundStartScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundStartAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundEndExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundEndScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundEndSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObsRoundEndAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsGameEndScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsGameEndSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ObsGameEndAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsGameEndExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetStreakOnSkippedRound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseEnglishCountryNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollSpeed" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FontSizeUnit" serializeAs="String">
                <value>em</value>
            </setting>
            <setting name="ScoreboardFG" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="ScoreboardBG" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ScoreboardBGA" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="ScoreboardFGA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="SendDoubleGuessMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendSameGuessMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowSameLocationGuess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutsSettingsKeycode" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="ShortcutsFullscreenKey" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="ShortcutsMenuKey" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="SpecialScoreTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecialDistanceTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChannelId" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBanUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUsStateFlags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendDoubleGuessTooFastMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowStreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowCoordinates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowDistance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowScore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBanCGTrolls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOEnableOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckStreamerGuessForSpecialValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagpacksPageURL" serializeAs="String">
                <value>https://geochatter.tv/?p=484</value>
            </setting>
            <setting name="ScoreFormula" serializeAs="String">
                <value>DefaultScore</value>
            </setting>
            <setting name="ZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableDebugLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOShowBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOShowFlags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayMarkerClustersEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOEnableTempGuesses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayMaxGuessDisplayCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="OverlayNoOfMarkers" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SendFlagSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendColorSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTwitchChatMsgs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TwitchChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="GCClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="LastLoginVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendChatActionId" serializeAs="String">
                <value />
            </setting>
            <setting name="SendChatMsgsViaStreamerBot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendChatActionName" serializeAs="String">
                <value />
            </setting>
        </Properties.Settings>
        <GeoChatter.Properties.Settings>
            <setting name="botname" serializeAs="String">
                <value />
            </setting>
            <setting name="channel" serializeAs="String">
                <value />
            </setting>
            <setting name="oauthToken" serializeAs="String">
                <value />
            </setting>
            <setting name="botname_rhino" serializeAs="String">
                <value />
            </setting>
            <setting name="channel_rhino" serializeAs="String">
                <value />
            </setting>
            <setting name="oauthToken_rhino" serializeAs="String">
                <value />
            </setting>
            <setting name="allowMultipleGuesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendJoinMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendGameStartMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendRoundStartMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendRoundEndMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendGameEndedMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendConfirmGuessMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LabelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundWinnerLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundSecondLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundThirdLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundHighscoreLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameWinnerLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameSecondLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameThirdLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameHighscoreLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialDistanceLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecialDistanceFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OverlayShowIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowPlayername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowStreak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowPlonked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowDistance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayShowScore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialScoreActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialDistanceAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialDistanceActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamerBotIP" serializeAs="String">
                <value />
            </setting>
            <setting name="StreamerBotPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialScoreActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialDistanceActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayRoundingDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverlayDisplayCorrectLocations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayUseWrongRegionColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayRegionalFlags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StreamerBotConnectAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundTimerAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundTimerActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundTimerActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsConnectAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundTimerExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundTimerScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundTimerSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundTimerAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialDistanceExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsSpecialDistanceScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialDistanceSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialDistanceAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialScoreExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsSpecialScoreScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialScoreSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsSpecialScoreAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ReloadLastAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="autoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObsRoundStartSource" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundStartAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundStartActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundStartActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundEndAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RoundEndActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundEndActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="GameEndAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameEndActionID" serializeAs="String">
                <value />
            </setting>
            <setting name="GameEndActionName" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundStartExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundStartScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundStartAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundEndExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObsRoundEndScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundEndSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsRoundEndAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsGameEndScene" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsGameEndSource" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsGameEndAction" serializeAs="String">
                <value />
            </setting>
            <setting name="ObsGameEndExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetStreakOnSkippedRound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseEnglishCountryNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollSpeed" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FontSizeUnit" serializeAs="String">
                <value>em</value>
            </setting>
            <setting name="ScoreboardFG" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="ScoreboardBG" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ScoreboardBGA" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="ScoreboardFGA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="SendDoubleGuessMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendSameGuessMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowSameLocationGuess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShortcutsSettingsModifiers" serializeAs="String">
                <value>Ctrl+Shift+None</value>
            </setting>
            <setting name="ShortcutsSettingsKeycode" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="ShortcutsFullscreenModifiers" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShortcutsFullscreenKey" serializeAs="String">
                <value>122</value>
            </setting>
            <setting name="ShortcutsMenuModifiers" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShortcutsMenuKey" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="SpecialScoreTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecialDistanceTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChannelId" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBanUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseUsStateFlags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendDoubleGuessTooFastMsg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowStreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowCoordinates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowDistance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowScore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayInfoPopupShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBanCGTrolls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOEnableOverlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckStreamerGuessForSpecialValues" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagpacksPageURL" serializeAs="String">
                <value>https://geochatter.tv/?p=484</value>
            </setting>
            <setting name="ScoreFormula" serializeAs="String">
                <value>DefaultScore</value>
            </setting>
            <setting name="ZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableDebugLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOShowBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MOShowFlags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayMarkerClustersEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOEnableTempGuesses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayMaxGuessDisplayCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="OverlayNoOfMarkers" serializeAs="String">
                <value>50</value>
            </setting>
        </GeoChatter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.55.0.0" newVersion="1.55.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.55.0.0" newVersion="1.55.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
	  <Properties.Settings>
    <setting name="StoragePath" serializeAs="String">
     <value>Storage</value>
    </setting>
    <setting name="AlternateGuessApiUrl" serializeAs="String">
     <value>https://dev.geochatter.tv/guess/geoChatterHub</value>
    </setting>
    <setting name="Link_GeoChatter" serializeAs="String">
     <value>https://geochatter.tv/</value>
    </setting>
    <setting name="Link_Discord" serializeAs="String">
     <value>https://discord.com/invite/WJUtADFSv8</value>
    </setting>
    <setting name="Link_TwitchAuth" serializeAs="String">
     <value>https://twitchapps.com/tmi</value>
    </setting>
    <setting name="Link_VersionXML" serializeAs="String">
     <value>https://service.geochatter.tv/update/version.xml</value>
    </setting>
    <setting name="Link_VersionXML_Debug" serializeAs="String">
     <value>https://service.geochatter.tv/update/version_debug.xml</value>
    </setting>
    <setting name="FlagsPageURL" serializeAs="String">
     <value>https://geochatter.tv/?p=647</value>
    </setting>
    <setting name="CommandsPageURL" serializeAs="String">
     <value>https://geochatter.tv/?p=1080</value>
    </setting>
    <setting name="GuessServer" serializeAs="String">
     <value>https://api.geochatter.tv/guess/geoChatterHub</value>
    </setting>
   </Properties.Settings>
    <GeoChatter.Properties.Settings>
      <setting name="StoragePath" serializeAs="String">
        <value>Storage</value>
      </setting>
      <setting name="GuessApiUrl" serializeAs="String">
        <value>https://api.geochatter.tv/guess/guessServerHub</value>
      </setting>
      <setting name="AlternateGuessApiUrl" serializeAs="String">
        <value>https://dev.geochatter.tv/guess/geoChatterHub</value>
      </setting>
      <setting name="Link_GeoChatter" serializeAs="String">
        <value>https://geochatter.tv/</value>
      </setting>
      <setting name="Link_Discord" serializeAs="String">
        <value>https://discord.com/invite/WJUtADFSv8</value>
      </setting>
      <setting name="Link_TwitchAuth" serializeAs="String">
        <value>https://twitchapps.com/tmi</value>
      </setting>
      <setting name="Link_VersionXML" serializeAs="String">
        <value>https://service.geochatter.tv/update/version.xml</value>
      </setting>
      <setting name="Link_VersionXML_Debug" serializeAs="String">
        <value>https://service.geochatter.tv/update/version_debug.xml</value>
      </setting>
      <setting name="TwitchHelperSecret" serializeAs="String">
        <value>q31gxrkj1ina5c1jvs59m5vxufumml</value>
      </setting>
      <setting name="YoutubeSecret" serializeAs="String">
        <value>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</value>
      </setting>
      <setting name="FlagsPageURL" serializeAs="String">
        <value>https://geochatter.tv/?p=647</value>
      </setting>
      <setting name="CommandsPageURL" serializeAs="String">
        <value>https://geochatter.tv/?p=1080</value>
      </setting>
    </GeoChatter.Properties.Settings>
  </applicationSettings>
	
</configuration>
